<p>¡Hola <%= @resource.email %>!</p>
<p>Alguien ha solicitado un enlace para cambiar tu contraseña. Puedes hacerlo a través del enlace que se encuentra a continuación.</p>

<p><%= link_to 'Cambiar mi contraseña', frontend_url('auth/password/edit', reset_password_token: @token) %></p>
<p>Si no solicitaste esto, por favor ignora este correo electrónico.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace anterior y crees una nueva.</p>